
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  width: 200px;
  height: 50vh;
  background: url(https://i.pinimg.com/236x/0c/ca/37/0cca37a417846e05426d089ddd755c10.jpg);
  background-position: center;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: white;
}

.container h2 {
  font-size: 10px bold;
}

.container p {
  font-size: 20px;
}

#entry {
  font-size: 12px;
}

#btn {
  cursor: pointer;
  padding: 5px 8px;
  margin: 5px;
  background-color: #072A6C;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
}

#btn-1 {
  display: block;
  cursor: pointer;
  padding: 5px 12px;
  margin: 0px auto;
  background-color: #056608;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
}

#btn-2 {
  display: block;
  cursor: pointer;
  padding: 5px 8px;
  margin: 5px auto;
  background-color: #6D0000;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
}

:is(#btn:hover,  #btn-1:hover, #btn-2:hover) {
  opacity: 0.7;
}